<!DOCTYPE html>
<html>

<head>
  <title>Watermark Pictures</title>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/vue@2"></script>
  <script src="https://unpkg.com/element-ui@2.15.7/lib/index.js"></script>
  <script src="./resource/js/jszip.min.js" type="text/javascript"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.7/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./resource/css/base.css">
</head>

<body class="body-box">
  <div id="app">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>图片加水印</span>
        <el-tooltip :content="warningTooltip" placement="top">
          <i class="warining-icon el-icon-warning-outline"></i>
        </el-tooltip>
        <div class="tag" @click="toGithub()">GitHub</div>
      </div>

      <el-upload class="upload-demo" action="" :show-file-list="false"
        :before-upload="beforeUpload" multiple drag :limit="10" :on-exceed="handleExceed">
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
        <div class="upload-tips el-upload__text">只能上传jpg/png文件</div>
        <div class="upload-tips el-upload__text">文件大小不超过{{sizeLimit}}M，且不超过10张</div>
        
      </el-upload>
      <div class="config">
        <el-row>
          <el-col :offset="4" :span="16">
            <el-input placeholder="请输入水印文字" v-model="text" @input="handleDrawText"></el-input>
          </el-col>
        </el-row>
        <el-row :gutter="50">
          <el-col :span="12">
            <el-row>
              <el-col :span="6">
                <div class="demonstration">
                  <span>大小</span>
                </div>
              </el-col>
              <el-col :span="18">
                <el-slider v-model="size" :min="10" :format-tooltip="formatTooltip" @input="handleDrawText"></el-slider>
              </el-col>
            </el-row>
          </el-col>
          <el-col :span="12">
            <el-row>
              <el-col :span="6">
                <div class="demonstration">
                  <span>角度</span>
                </div>
              </el-col>
              <el-col :span="18">
                <el-slider v-model="angle" :min="0" :max="360" @input="handleDrawText"></el-slider>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
        <el-row :gutter="50">
          <el-col :span="12">
            <el-row>
              <el-col :span="6">
                <div class="demonstration">
                  <span>间距</span>
                </div>
              </el-col>
              <el-col :span="18">
                <el-slider v-model="space" :min="0" :max="5" :step="0.05" @input="handleDrawText"></el-slider>
              </el-col>
            </el-row>
          </el-col>
          <el-col :span="12">
            <el-row>
              <el-col :span="6">
                <div class="demonstration">
                  <span>颜色</span>
                </div>
              </el-col>
              <el-col :span="18">
                <el-color-picker v-model="color" show-alpha @input="handleDrawText"></el-color-picker>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
      </div>

      <div class="button-group" v-if="fileIndex>0">
        <el-button-group>
          <el-button type="primary" icon="el-icon-delete" @click="clearImgs">清空图片</el-button>
          <el-button type="primary" icon="el-icon-refresh-right" @click="resetStyle">重置样式</el-button>
          <!-- <el-button type="primary" icon="el-icon-download" @click="batchDownload">批量下载</el-button> -->
          <el-button type="primary" icon="el-icon-download" @click="doanloadZip">打包下载</el-button>
        </el-button-group>
      </div>

      <template v-if="fileIndex>0">
        <el-row v-for="row in (fileIndex%2==0)?fileIndex/2:(fileIndex+1)/2" class="img-row" :gutter="30">
          <el-col :span="12" v-for="col in 2">
            <div class="box-canvas" v-if="((row-1)*2+(col-1))<fileIndex">
              <canvas :id="'canvas_'+((row-1)*2+(col-1))"></canvas>
              <div class="shadow">
                <i class="shadow-icon el-icon-search" @click="preview((row-1)*2+(col-1))"></i>
                <i class="shadow-icon el-icon-download" @click="download((row-1)*2+(col-1))"></i>
              </div>
            </div>
          </el-col>
        </el-row>
      </template>
    </el-card>


    <div class="preview-img" v-if="previewFlag">
      <i class="close-icon el-icon-circle-close" @click="closePreview()"></i>
      <el-image v-if="previewData" :src="previewData">
        <div slot="placeholder" class="placeholder-slot">
          <i class="el-icon-loading"></i>
        </div>
      </el-image>
    </div>

    <div id="downloadLinks"></div>
  </div>

  <script src="./resource/js/data.js" type="text/javascript"></script>
  <script src="./resource/js/zip.js" type="text/javascript"></script>
  <script src="./resource/js/file.js" type="text/javascript"></script>
  <script src="./resource/js/image.js" type="text/javascript"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        warningTooltip:"安全、高效的给图片加水印，没有任何网络请求，保护证件安全。",
        size: 25,
        angle: 45,
        color: 'rgba(249, 183, 38, 0.66)',
        text: '',
        space: 2,
        fileIndex: 0,
        imgList: [],
        fileSet: new Set(),
        previewFlag:false,
        previewData:'',
        sizeLimit: 5,//文件大小限制，单位M
      },
      methods: {
        //上传前钩子
        beforeUpload(file) {
          let fileType = file.type
          //类型不支持
          if (fileType != 'image/png' && fileType != 'image/jpeg') {
            this.$message({ type: 'info', message: file.name + ' 添加失败，仅支持png/jpg文件', showClose: true })
            return false
          }

          //文件超过大小
          let size = file.size
          if (size > this.sizeLimit*1024*1024) {
            this.$message({ type: 'info', message: file.name + '超过 '+this.sizeLimit+' M，添加失败。', showClose: true })
            return false
          }

          //文件已加入
          let uid = file.name + file.size
          if (this.fileSet.has(uid)) {
            this.$message({ type: 'info', message: file.name + ' 文件已存在', showClose: true })
            return false
          }
          //加入set，去重
          this.fileSet.add(uid)
          this.imgList.push(file)
          readFile(file, this.fileIndex++)
          return false
        },
        handleExceed(files, fileList) {
          this.$message({ type: 'info', message: '最多上传10张图片', showClose: true })
        },
        //重画
        handleDrawText() {
          redraw()
        },
        formatTooltip(val) {
          return val / 100;
        },
        //github跳转
        toGithub() {
          window.open("https://github.com/mervynlam/watermark")
        },
        //下载单图
        download(index) {
          downloadImg(index)
        },
        //大图预览
        preview(index){
          let imgData = getImgData(index)
          if(imgData == false) {
            this.$message({showClose: true, type:'info', message:'图片丢失'})
            return
          }
          this.previewData = imgData
          this.previewFlag = true
        },
        //关闭预览
        closePreview() {
          this.previewData = ''
          this.previewFlag = false
        },
        //清空图片
        clearImgs() {
          this.fileIndex = 0
          this.imgList = []
          this.fileSet.clear()
          clearData()
        },
        //重置样式
        resetStyle() {
          this.size = 25
          this.angle = 45
          this.color = 'rgba(249, 183, 38, 0.66)'
          this.space = 2
          redraw()
        },
        //批量下载
        batchDownload() {
          batchDownloadImg()
        },
        //打包下载
        doanloadZip() {
          downloadZip()
        }
      },
    })
  </script>
</body>

</html>