/* body */
.body-box {
    background-color: rgb(216, 218, 218);
}

/* 卡片 */
.box-card{
    width:70%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}

/* github标签 */
.tag{
    background-color: darkcyan;
    position: absolute;
    top: 12px;
    right: -25px;
    text-align: center;
    width: 90px;
    height: 20px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.tag:hover {
    cursor: pointer;
}

/* 上传 */
.upload-demo{
    text-align: center;
}

.upload-tips{
    font-size: 12px !important;
    margin: 5px 0px;
    color:#6062669e !important;
}

/* 配置区 */
.config{
    margin:20px 20px;
}
.config>.el-row{
    margin:10px 0px;
}
/* 配置区文字 */
.demonstration {
    line-height: 40px;
}

/* 按钮区 */
.button-group{
    text-align: center;
    margin: 40px 0px;
}

.btn-donate{
    color: #fff;
    background-color: #ffb23f;
    border-color: #ffb23f;
}

.btn-donate:hover{
    color: #fff;
    background-color: #f7be68;
    border-color: #f7be68;
}

/* 图片栅栏 */
.img-row{
    margin: 10px 0px;
}

/* 画图区盒子 */
.box-canvas{
    position: relative;
    text-align: center;
    height: 300px;
}

/* 遮罩 */
.shadow{
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
}

.box-canvas:hover .shadow{
    display: block;
}

.shadow>.shadow-icon{
    color:white;
    font-size: 30px;
    line-height: 100px;
    cursor: pointer;
    margin: 0px 20px;
}

/* 画图区 */
canvas {
    max-width: 100%;
    max-height: 100%;
}

/* 下载区 */
#downloadLinks{
    display: none;
}

/* 预览区 */
.preview-img{
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index:5000;
}

.preview-img>.el-image{
    margin: 30px auto;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-img>*>.el-image__error,.el-image__inner{
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

.preview-img>*>.placeholder-slot {
    color: white;
    font-size: 25px;
}

.preview-img>.close-icon{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
}

/* 喝茶box */
.box-donate {
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index:5000;
}

.box-donate>.donate-img{
    margin: 30px auto;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-img>.el-image{
    height: 50%;
}

.box-donate>.close-icon{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
}

.donate-text{
    display: flex;
    position: fixed;
    height: 25%;
    justify-content: center;
    align-items: end;
    width: 100%;
    color: white;
    font-size: 25px;
}